* {
    box-sizing: border-box;
}

:root {
    --red-main: #e3350d;
    --red-dark: #910d0a;
    --gray-1: rgb(53, 53, 53);
}

body {
    background-color:aquamarine;
}

main {
    display: flex;
    justify-content: center;
}

#leftCover {
    width: 35%;
    height: 45vw;
    background-color: var(--red-main);
    position: relative;
    border: 0.1vw solid black;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.shadow {
    position: absolute;
    background-color: var(--red-dark);
    height: 1.2%;
    border-bottom: 0.2vw solid black;
    border-top: 0.1vw solid #ec7b61;
}

#rectangle1 {
    width: 35%;
    right: 0%;
    top: 11.3%;
}

#rectangle2 {
    width: 26%;
    transform: rotate(-30deg);
    right: 33.05%;
    top: 16.2%;
    border-radius: 0.2vw;
}

#rectangle3 {
    width: 43%;
    left: 0%;
    top: 20.9%;
}

#bordered1 {
    position: absolute;
    border-left: 0.2vw solid var(--gray-1);
    border-top: 0.2vw solid var(--gray-1);
    width: 42%;
    height: 30%;
    border-top-left-radius: 10%;
    left: 3%;
    top: 24.6%;
}

#bordered2 {
    position: absolute;
    width: 25%;
    border-top: 0.2vw solid var(--gray-1);
    left: 43%;
    top: 19.9%;
    transform: rotate(-30deg);
}

#bordered3 {
    position: absolute;
    border-right: 0.2vw solid var(--gray-1);
    border-top: 0.2vw solid var(--gray-1);
    width: 25%;
    height: 20%;
    border-top-right-radius: 10%;
    left: 66%;
    top: 15%;
}

#bordered4 {
    position: absolute;
    border-right: 0.2vw solid var(--gray-1);
    border-top: 0.2vw solid var(--gray-1);
    width: 46.5%;
    height: 30%;
    border-top-right-radius: 10%;
    right: 3%;
    top: 2.73%;
}

#bordered5 {
    position: absolute;
    width: 27%;
    border-top: 0.2vw solid var(--gray-1);
    right: 47.5%;
    top: -3.2%;
    transform: rotate(30deg);
}

#bordered6 {
    position: absolute;
    border-left: 0.2vw solid var(--gray-1);
    border-top: 0.2vw solid var(--gray-1);
    width: 24.4%;
    height: 20%;
    border-top-left-radius: 10%;
    left: 3%;
    top: -9.4%;
}

#leftContainer {
    position: absolute;
    width: 88%;
    height: 70%;
    border-bottom: 0.2vw solid var(--gray-1);
    border-left: 0.2vw solid var(--gray-1);
    border-right: 0.2vw solid var(--gray-1);
    bottom: 2%;
    left: 3%;
    border-bottom-left-radius: 5%;
}

#rightContainer {
    position: absolute;
    width: 94%;
    height: 90%;
    border-bottom: 0.2vw solid var(--gray-1);
    border-left: 0.2vw solid var(--gray-1);
    border-right: 0.2vw solid var(--gray-1);
    bottom: 2%;
    left: 3%;
    border-bottom-right-radius: 5%;
}

#pin {
    display: flex;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    overflow: hidden;
    border: 0.2vw solid black;
    height: 88%;
    width: fit-content;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

#pin div {
    width: 0.5vw;
}

#pin > div:nth-child(1) {
    background-color: #f03006;
}

#pin > div:nth-child(2) {
    background-color: #ee9480;
}

#pin > div:nth-child(3) {
    background-color: #e0330c;
}

#pin > div:nth-child(4) {
    background-color: #aa2c0f;
}

#rightCover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#rightCoverTop {
    width: 55%;
    height: 9.5%;
    background-color: var(--red-main);
    background: linear-gradient(30deg, var(--red-main) 65%, rgba(255, 255, 255, 0) 65%);
}

#rightCoverBottom {
    width: 31vw;
    height: 77.5%;
    background-color: var(--red-main);
    position: relative;
    border: 0.1vw solid black;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 5%;
    align-self: flex-end;
    
}

#light1 {
    position: absolute;
    border-radius: 50%;
    left: 6%;
    top: 2.4%;
    width: 7.5vw;
    height: 7.5vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid black;
}

#light1 > div {
    width: 85%;
    height: 85%;
    background-color: blue;
    border-radius: 50%;
    border: 0.1vw solid black;
    background-image: radial-gradient(white 2%, aqua 100%);
}

#smallLights {
    position: absolute;
    left: 36%;
    top: 4.5%;
    display: flex;
    width: 19%;
    justify-content: space-between;
}

#smallLights > div {
    width: 1.5vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    border-radius: 50%;
}

#smallLights > div:nth-child(1) {
    background-image: radial-gradient(white 2%, red 100%);
}

#smallLights > div:nth-child(2) {
    background-image: radial-gradient(white 2%, yellow 100%);
}

#smallLights > div:nth-child(3) {
    background-image: radial-gradient(white 2%, green 100%);
}

#displayA {
    position: relative;
    width: 24vw;
    height: 16vw;
    margin: auto;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: white;
    border-left: 0.1vw solid black;
    border-top: 0.1vw solid black;
    border-right: 0.1vw solid black;
    z-index: 2;
}

#displayB {
    width: 24vw;
    height: 3vw;
    margin: auto;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 11%, black 11.5%, white 11.5%);
    border-bottom-right-radius: 1vw;
    border-right: 0.1vw solid black;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

#rectangle4 {
    margin-right: 12.5%;
    margin-left: auto;
    width: 19.9vw;
    height: 1vw;
    background-color: rgba(0, 0, 0, 0);
    border-top: 0.1vw solid black;
}

#displayC {
    width: 90%;
    height: 88%;
    margin: auto;
    background-color: black;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#displayTopLights {
    display: flex;
    height: 2vw;
    align-items: center;
    justify-content: center;
}

#displayTopLights > div {
    margin: 0% 4%;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-image: radial-gradient(white 2%, red 50%);
}

#displayBottomLight {
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    background-color: var(--red-main);
    margin-left: 12%;
    border: 0.1vw solid black;
}

#speaker {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.25vw;
    margin-left: auto;
    padding-right: 1vw;
}

#speaker > div {
    width: 80%;
    height: 0.25vw;
    background-color: var(--gray-1);
}

#controls1 {
    position: relative;
    margin-top: 0.6vw;
}

#buttonsLine1 {
    display: flex;
    margin-left: 10%;
}

#buttonsLine1 > div:first-child {
    width: 3.6vw;
    height: 3.6vw;
    background-color: black;
    border-radius: 50%;
    margin-right: 0.5vw;
}

#buttonsLine1 > div:first-child > div {
    width: 3.3vw;
    height: 3.3vw;
    background-image: radial-gradient(rgb(56, 56, 56) 10%, rgb(30, 30, 30) 50%);
    border-radius: 50%;
    margin:auto;
}

.rectangularLight {
    width: 4.7vw;
    height: 0.8vw;
    border-radius: 0.5vw;
    border: 0.1vw solid rgb(24, 24, 24);
    border-top: none;
    margin-left: 0.9vw;
    border-top: 0.01vw solid white;
}

#buttonsLine1 > div:nth-child(2) {
    background-image: radial-gradient(rgb(226, 158, 158) 0%, red 90%);
}

#buttonsLine1 > div:nth-child(3) {
    background-image: radial-gradient(rgb(152, 195, 252) 0%, rgb(0, 119, 255) 90%);
}

#dPad {
    margin-top: 2.9vw;
    margin-left: 2%;
}

#dPad > div.foreGround {
    position: absolute;
    width: 7.9vw;
    height: 2.5vw;
    border-radius: 0.5vw;
    background-image: radial-gradient(rgb(22, 22, 22) 70%, rgb(56, 56, 56) 100%);
}

#dPad > div.dPadShadow {
    position: absolute;
    width: 8vw;
    height: 3vw;
    border-radius: 0.5vw;
    background-color: black;
}

#dPad > div:nth-child(2), #dPad > div:last-child {
    transform: rotate(90deg);
}

#greenDisplay {
    position: absolute;
    top: 80%;
    width: 32%;
    height: 5.5vw;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    background-color: greenyellow;
    margin-left: 7.8vw;
    display: flex;
    justify-content: center;
}

#specsA {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'VT323';
    font-size: 1.2vw;
}

#specsA > p, #specsB > p {
    margin: 0.1vw 0.2vw;
}

#specsB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323';
    font-size: 1.4vw;
    text-align: center;
    color: greenyellow;
}

#display2 {
    width: 90%;
    height: 38%;
    border-radius: 0.6vw;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 0.2vw;
    align-items: center;
}

#stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 82% auto;
    width: 98%;
    height: 98%;
}

.statLevel {
    display: grid;
    grid-template-rows: repeat(15, auto);
    row-gap: 0.22vw;
    width: 75%;
    margin: 0 auto;
}

.statName {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.9vw;
    text-align: center;
    font-family: 'VT323';
    font-size: 1vw;
    color: greenyellow;
}

.levelUnitOff {
    background-color: rgb(90, 90, 90);
}

.levelUnitOn {
    background-color: greenyellow;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

#blueButtons {
    display: grid;
    width: 90%;
    height: 19%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: black;
    border: 0.1vw solid black;
    border-radius: 0.8vw;
    overflow: hidden;
    padding-bottom: 0.15vw;
    margin: auto;
    margin-top: 0.6vw;
}

#blueButtons > div {
    background-color:darkcyan;
    border-bottom: 0.01vw solid white;
    margin: 0.08vw;
}

#blueButtons > div:nth-child(1) {
    border-top-left-radius: 0.8vw;
}

#blueButtons > div:nth-child(5) {
    border-top-right-radius: 0.8vw;
}

#blueButtons > div:nth-child(6) {
    border-bottom-left-radius: 0.8vw;
}

#blueButtons > div:nth-child(10) {
    border-bottom-right-radius: 0.8vw;
}

#buttonLine2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vw;
    padding-right: 6%;
}

#buttonLine2 > div {
    margin-left: 1.5vw;
    background-image: radial-gradient(rgb(104, 38, 38) 0%, var(--red-dark) 90%);
}

#whiteButtons {
    display: inline-flex;
    background-color: black;
    border: 0.1vw solid black;
    padding-bottom: 0.15vw;
    border-radius: 0.8vw;
    overflow: hidden;
    position: absolute;
    top: 66%;
    left: 5%
}

#whiteButtons > div {
    width: 5.2vw;
    height: 3vw;
    background-color: white;
    border: 0.01vw solid black;
}

#whiteButtons > div:first-child {
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
}

#whiteButtons > div:last-child {
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

#yellowLight {
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 0.01vw solid black;
    background-image: radial-gradient(white 2%, orange 50%);
    right: 6.5%;
    top: 71%;
}

#displaysLine {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20%;
    justify-content: space-between;
}

#displaysLine > div {
    width: 45%;
    height: 3.9vw;
    background-color: black;
    border-radius: 0.7vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

input {
    font-family: 'VT323';
    font-size: 1.4vw;
    text-align: center;
    width: 90%;
    height: 40%;
    background-color: black;
    border: none;
    color: greenyellow;
}

button {
    border: none;
    font-family: 'VT323';
    font-size: 1.3vw;
    padding: 0.1vw 2.5vw;
    background-color: black;
    color: greenyellow;
}

button:hover {
    cursor: pointer;
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: white    
    }    
}

@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: white    
    }    
}

.borderBlink{    
    border:1px solid black;
}

.borderBlink {    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: greenyellow;
}
